.tools {
    position: absolute;
    left: 1000px;
    font-family: 'Pacifico', cursive;

}
.img{
    position: absolute;
    left : 240px;
    width: 700px;
    height: 400px;

}
button{
    color: white;
    background: #45ADA8;
    font-family:sans-serif;
    border-radius:10%;

}
input[type="file"]{
    color: white;
    background: #45ADA8;
    font-family:sans-serif;

}