body{
    font-family: sans-serif;
    background-image: url(backgroundImagesample.jpg);
    background-repeat: no-repeat;
    background-size: 1400px 700px;
    
}
h1{
    text-align: center;
    color: black;
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    backface-visibility: visible;
    
}
.gallery{
    margin: 10px 240px;
}

.gallery img{
    width: 230px;
    padding: 10px;
    filter: grayscale(100%);
    transition: 1s;

}
.gallery img:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  backface-visibility: visible;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-size: 20px;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  font-family: 'Pacifico', cursive;
  text-decoration: none;
}

li a.active {
  background-color: rgb(50, 228, 204);
  color: white;
}

li a:hover:not(.active) {
  background-color: rgb(126, 233, 105);
  color: white;
}